
/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-image: url("JS/images/gif1.gif");
}
/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600; 
 }
 #menu a{
     color:#f7f0f0;
 }

 nav{
    background-image: url("JS/images/gif1.gif");
 }
 
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
    background-image: url("JS/images/gif1.gif");
}
h1{
    color: #f3f3f3;
}


/*=========================FOOTER================================*/

footer {
    background-image: url("JS/images/gif1.gif");
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}
